table, th, td {
    border: 1px navy;
}

table {
    width: 65%;
}

th, td {
    text-align: center;
    padding: 15px;
}

tr:hover {
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: rgb(207, 207, 207);
}

h1{
    text-align: center;
}